body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%; /* Sự dịch chuyển giữa 2 bên trái phải */
    margin: auto;
    overflow: hidden;
}

header {
    background: rgb(62, 187, 129);
    color: #fff;
    padding-top: 20px;
    min-height: 70px; /* Chiều cao tối thiểu của phần header sẽ có */
    border-bottom: #f4f4f4 3px solid;
}

header h1 {
    float: left;
    padding-left: 20px; /* Điều chỉnh chữ Contact di chuyển trái phải */
}

footer {
    background: rgb(62, 187, 129);
    color: #fff;
    padding-top: 20px; /* Tạo ra một khoảng trống phía trên bên trong phần footer, có độ dày là 20px */
    min-height: 70px; /* Chiều cao tối thiểu của phần footer sẽ có */
    line-height: 70px; /* Sử dụng line-height để căn chỉnh đường viền ra giữa */
    border-top: #f4f4f4 3px solid;
    text-align: center; /* Căn giữa nội dung của footer */
    font-size: 15px; /* Đặt kích thước phông chữ */
}

footer p {
    padding: 20px;
    margin: 0;
}

#contact {
    padding: 20px;
}

.contact-info h2 {
    border-bottom: 1px solid #000; /* Thêm gạch chân phía dưới */
}

.contact-info {
    float: left;
    width: 50%;
}

.contact-info .item p {
    font-style: italic; /* làm các chữ trong phần tử nghiêng */
}

.contact-info .item {
    display: flex; /* Thuộc tính này xác định phần tử sẽ sử dụng mô hình flexbox cho bố cục. Flexbox là một cách mạnh mẽ để sắp xếp, căn chỉnh và phân phối các phần tử trong một container một cách linh hoạt. */
    align-items: center; /* Thuộc tính này căn chỉnh các phần tử con theo trục chính của container. Trong trường hợp này, các phần tử con sẽ được căn giữa theo trục chính, tức là chiều cao của chúng sẽ được căn giữa so với chiều cao của container. */
}

.contact-info .item i {
    margin-right: 10px; /* Điều chỉnh khoảng cách giữa icon với các thông tin email, phone, address theo ý muốn */
}

.map {
    float: right; /* Di chuyển bản đồ sang phải */
    width: 50%;
    text-align: center;
}

.input-form {
    clear: left; /* Thêm clear: left để đảm bảo phần "Send Message" không bị trôi sang phải */
    padding-top: 30px; /* Áp dụng cho phần trên của phần tử input, tạo ra một khoảng trống 30px phía trên phần tử */
    width: 60%; /* Điều chỉnh độ dài của các input name, email, your message */
    float: left; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 60%; /* Điều chỉnh độ dài của các input name, email, your message */
    padding: 10px; /* Điều chỉnh độ rộng của các input name, email, your message */
    margin-top: 10px; /* Điều chỉnh khoảng cách giữa các input và dòng Send message */
    margin-bottom: 10px; /* Điều chỉnh khoảng cách giữa các input */
    border: #ccc 1px solid;
    border-radius: 50px;
}

button {
    background: rgb(62, 187, 129);
    color: #fff;
    padding: 10px 15px; /* Định dạng nội dung bên trong nút, khoảng cách là 10px trên dưới và 15px trái phải */
    border: none; /* Định dạng đường viền của nút */
    border-radius: 50px;
    cursor: pointer; /* Định dạng kiểu con trỏ là chiếc tay nhỏ */
}

button:hover {
    background: #555;
}

.message-input {
    font-family: Arial, sans-serif; /* Đổi phông chữ theo ý muốn */
}